.example-wrapper {
  position: relative;
  padding: 30px;
}

button.mat-fab {
  color: white;
  position: relative;
  transition: none;
  transform: none;
}

svg.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -12px;
  fill: white;
  animation: jump 1s linear alternate infinite;
}

mat-progress-spinner {
  position: absolute;
  top: 29px;
  left: 28px;
}

.count-value {
  margin-top: 7px;
  display: inline-block;
  font-size: 24px;
}

@keyframes jump {
  0%   {transform: translateY(0)}
  40%  {transform: translateY(3px)}
  100% {transform: translateY(0)}
}